<title>ToDo App</title>
<div class="container" > 
<div class="row">
<div class="span4">
<h2>Your TODOs below:</h2>
<hr>

<div class="well">
 <%= form_for @new_todo, :url => { :action => "create" }  do |f|  %>
    <%= f.text_field  :todo_item %>
    <%= f.submit "Add todo", class: "btn btn-primary" %>
 <%end%>
<% if !flash[:error].nil? %>
 <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert" >×</button>
    <strong><%= flash[:error] %></strong>
    </div>
<% end %>
<% if !flash[:notice].nil? %>
 <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" >×</button>
    <strong><%= flash[:notice] %></strong>
    </div>
<% end %>

<%= form_tag(project_tasks_path, :method => "post") do %>   
    <%= text_field  :task, :todo_item %>
    <%= submit_tag "Add task", class: "btn btn-primary" %>
 <% end %>
 <% if !flash[:error].nil? %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert" >×</button>
    <strong><%= flash[:error] %></strong>
  </div>
<% end %>

<%= form_tag(project_tasks_path, :method => "post") do %>
  <ul style="list-style-type:none;">
  <% @todo_items.each do |t| %>
    <% if t.completed == true %>
      <li style="color:grey;"> 
        <strike><%= t.todo_item %></strike> | <%= link_to 'delete', t, :confirm => 'Are you sure?',:method => :delete, class: 'btn btn-danger'%>
        <%= link_to 'uncomplete', complete_task_path(t), class: 'btn btn-success' %>
      </li>

      <% else %>
       <li style="color:grey;"> 
        <%= t.todo_item %> | <%= link_to 'delete', t, :confirm => 'Are you sure?',:method => :delete, class: 'btn btn-danger' %>  
        <%= link_to 'complete', complete_task_path(t) , class: 'btn btn-success' %>
        </li>
      <% end %>
    <%end%>

    <%= form_tag(project_tasks_path, :method => "post") do %>
  <% @user_projects.each do |project| %>
   <% project.tasks.each do |t| %>
  <ul style="list-style-type:none;">
    <% if t.completed == true %>
      <li style="color:grey;"> 
        <strike><%= t.todo_item %></strike> | <%= link_to 'delete', t, :confirm => 'Are you sure?',:method => :delete, class: 'btn btn-danger'%>
        <%= link_to 'uncomplete', complete_task_path(t), class: 'btn btn-success' %>
      </li>

      <% else %>
       <li style="color:grey;"> 
        <%= t.todo_item %> | <%= link_to 'delete', t, :confirm => 'Are you sure?',:method => :delete, class: 'btn btn-danger' %>  
        <%= link_to 'complete', complete_task_path(t) , class: 'btn btn-success' %>
        </li>
      <% end %>
    <%end%>
    <%end%>
</ul>
<% end %>


<%= form_for [@project, @task] do |t| %>   
    <%= t.text_field  :todo_item %>
    <%= t.submit_tag "Add task", class: "btn btn-primary" %>
 <% end %>
 <% if !flash[:error].nil? %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert" >×</button>
    <strong><%= flash[:error] %></strong>
  </div>
<% end %>


  
</div> <!-- well --> </div> <!-- span4 --> </div> <!-- row --> </div> <!-- container -->


